body, html {
	background-color: #00a2e5;
	height: 100%;
	width: 100%;
}

html {
  overflow-x: hidden;
  position: fixed;
}

/* navbar */
.navbar-fixed-top {
	background-color: rgba(0, 130, 183,0.85);
	border-color: rgba(0, 0, 0, 0.0);
}
/* title */
.navbar-fixed-top .navbar-brand {
	color: white;
}
.navbar-fixed-top .navbar-brand:hover,
.navbar-fixed-top .navbar-brand:focus {
	color: #5E5E5E;
}
/* link */
.navbar-fixed-top .navbar-nav > li > a {
	color: white;
}
.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
	color: #555;
}
.navbar-fixed-top .navbar-nav > .active > a, 
.navbar-fixed-top .navbar-nav > .active > a:hover, 
.navbar-fixed-top .navbar-nav > .active > a:focus {
	color: #555;
	background-color: #E7E7E7;
}
.navbar-fixed-top .navbar-nav > .open > a, 
.navbar-fixed-top .navbar-nav > .open > a:hover, 
.navbar-fixed-top .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #D5D5D5;
}
.navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-collapse {
	background-color: rgba(0, 130, 183,0.85);
}

.canvas {
	position:relative; 
	overflow:hidden;
	width: 100%; 
	height: 100vh;
}

.info-box {
	margin-top: 100px; 
	padding: 10px;
	height: auto; 
	width: auto;
}

.text-box {
	width: auto;
	background-color: rgba(79, 85, 167, 0.85);
	position: absolute;
	z-index: 110;
	padding: 15px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 10.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 10.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 10.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.banner {
	font-weight:500; 
	color: white;
}

h1, h2, h3, h4, h5 
{
	color: white;
	font-weight: 1000;
}

p {
	color: white;
}

.brick {
	background-image: url(/img/brk.jpg); 
	background-repeat: repeat-x; 
	height: 100px; 
	width: 250px; 
	position: absolute; 
	right: 10px; 
	bottom: 200px;
	position: absolute;
  z-index: 100;
}

.brick.one {
	right: 10px; 
	bottom: 200px;
	position: absolute;
  z-index: 100;
}

.brick.two {
	right: 500px; 
	bottom: 200px;
	position: absolute;
  z-index: 100;
}

.brick.three {
	right: 200px; 
	bottom: 400px;
	position: absolute;
  z-index: 100;
}

.q_block {
	background-image: url(/img/q-block.png); 
	background-repeat: no-repeat; 
	position: absolute; 
	height: 100px;
	width: 250px; 
	position: absolute;
  z-index: 101;
}

.q_block.one {
	right: -50px; 
	bottom: 200px;
	position: absolute;
  z-index: 101;
}

.q_blank {
	background-image: url(/img/q-block-null.png); 
	background-repeat: no-repeat; 
	position: absolute;
	height: 100px;
	width: 250px;
	position: absolute;
  z-index: 101;
}

.q_blank.one {
	right: 100px; 
	bottom: 400px;
	position: absolute;
  z-index: 101;
}

.ground {
	position:absolute; 
	bottom:0; 
	width: 150em;
}

.cloud1 {
	position:absolute;
	height:132px;
	background:url('http://fotos.subefotos.com/0b84cd405ce010e3e156188bfc49ce8ao.png')no-repeat 0 0;
	width:174px;
	top:5%;
	z-index:6;
	-webkit-animation:cloud1 60s infinite;
	-moz-animation:cloud1 60s infinite;
	-o-animation:cloud1 60s infinite;
	animation:cloud1 60s infinite;
	overflow: hidden;
}


.cloud2 {
	position:absolute;
	height:132px;
	background:url('http://fotos.subefotos.com/0b84cd405ce010e3e156188bfc49ce8ao.png')no-repeat 0 0;
	width:174px;
	top:15%;
	z-index:6;
	-webkit-animation:cloud1 90s infinite;
	-moz-animation:cloud1 90s infinite;
	-o-animation:cloud1 90s infinite;
	animation:cloud1 90s infinite;
	overflow: hidden;
}

.shell {
	position:absolute;
	height:28px;
	width: 32px;
	background:url('../img/shell.png')no-repeat 0 0;
	bottom:24px;
	z-index:6;
	-webkit-animation:shell 5s infinite;
	-moz-animation:shell 5s infinite;
	-o-animation:shell 5s infinite;
	animation:shell 5s infinite;
	animation-timing-function: linear;
	overflow: hidden;
}


#timer {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: white;
	letter-spacing: -1px;
}
#timer span {
	font-size: 60px;
	color: white;
	margin: 0 3px 0 15px;
}
#timer span:first-child {
	margin-left: 0;
}


@-webkit-keyframes cloud1 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@moz-keyframes cloud1 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@o-keyframes cloud1 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@keyframes cloud1 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}

@-webkit-keyframes cloud2 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@moz-keyframes cloud2 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@o-keyframes cloud2 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@keyframes cloud2 {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}


@-webkit-keyframes shell {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@moz-keyframes shell {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@o-keyframes shell {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}
@keyframes shell {0% {left:-50%;}20% {left:-10%;}100% {left:100%;}}